body{
font-family: Arial, sans-serif;

/* Background Image */
background-image: url("https://images.unsplash.com/photo-1501973801540-537f08ccae7b");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

text-align:center;
padding:40px;
color:white;
}

/* Glass container */
.container{
background: rgba(0,0,0,0.6);
backdrop-filter: blur(8px);
padding:25px;
border-radius:15px;
width:350px;
margin:auto;
box-shadow:0 0 20px rgba(0,0,0,0.5);
}

/* Title */
h1{
color:#FFD700;
margin-bottom:20px;
}

/* Input box */
input{
padding:10px;
width:65%;
border-radius:8px;
border:none;
outline:none;
}

/* Search button */
button{
padding:10px 15px;
margin-top:10px;
cursor:pointer;
border:none;
border-radius:8px;
background:#00bfff;
color:white;
font-weight:bold;
transition:0.3s;
}

button:hover{
background:#009acd;
transform:scale(1.05);
}

/* Weather result */
#weatherResult{
margin-top:15px;
}

/* Forecast layout */
#forecastContainer{
display:flex;
justify-content:center;
gap:10px;
margin-top:15px;
flex-wrap:wrap;
}

/* Forecast card */
.forecast-card{
background: rgba(255,255,255,0.2);
padding:10px;
border-radius:10px;
width:90px;
backdrop-filter: blur(5px);
}

.forecast-card img{
width:50px;
}

/* Hidden class */
.hidden{
display:none;
}

/* Error text */
#error{
color:#ff4d4d;
margin-top:10px;
font-weight:bold;
}