body{
font-family: Arial;
padding: 20px;
background:#f5f5f5;
}

h1{
color:#333;
}

table{
width:100%;
background:white;
border-collapse: collapse;
}

th, td{
padding:10px;
text-align:center;
}

button{
padding:8px 15px;
margin:5px;
cursor:pointer;
}